@use "UI" as ui;

.contact {
	margin: 0;
}
.pane {
	@include ui.white-pane;
}

.linklist {
	padding: 8px;
	list-style: none;
	li {
		display: flex;
		align-items: center;
		padding: 10px 0;
		.icon {
			margin-right: 5px;
		}
		.label {
			margin-right: 5px;
		}
		a {
			color: #fff;
			text-decoration: underline;
			&:hover {
				color: #777;
			}
		}
	}
}

.education {
	padding: 12px;
	margin-bottom: 10px;
	.qualification {
		font-size: 1.2em;
		font-weight: bold;
	}
	.institution {
		font-size: 1rem;
		font-style: italic;
	}
	.dates {
		font-size: 0.9em;
		color: #fff;
	}
	&:not(:last-of-type) {
		border-bottom: 1px solid #ccc;
	}
}

.experience {
	padding: 10px 12px;
	.experienceLocation {
		p {
			font-style: normal;
			color: #fff;
			font-weight: bold;
			text-decoration: underline;
			font-size: larger;
			display: block;
			margin: 0;
		}
		font-size: smaller;
		color: #fff;
		margin-bottom: 1em;
	}
	.experienceDesc {
		padding: 5px 0;
	}
	.achievements {
		list-style-type: square;
		li {
			padding: 5px;
			font-weight: 500;
			// font-style: italic;
			width: 50%;
			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}
	}
	&:not(:last-of-type) {
		border-bottom: 1px solid #ccc;
	}
}

.certification {
	min-height: 200px;
	padding: 5px;
	.certificationTitle {
		font-weight: bold;
		padding: 5px 0;
	}
	.certificationDetails {
		display: flex;
		align-items: center;
		.certificationLogo {
			margin-right: 5px;
			height: 24px;
			width: 24px;
		}
	}
}
