@use "../src/scss/variables" as var;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // background: rgb(0, 0, 255);
  background: rgb(36, 16, 0);
  background: linear-gradient(61deg, rgba(36, 16, 0, 1) 0%, rgba(90, 9, 121, 1) 49%, rgba(9, 9, 120, 1) 67%, rgba(9, 9, 119, 1) 85%, rgba(255, 0, 159, 1) 100%);
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 20px 0;
}

.container {
  padding: 16px;
  width: 98%;
  margin: auto;
  overflow: hidden;
}

.center {
  text-align: center;
}

.custom-underline {
  position: relative;
}

.custom-underline::after {
  content: '';
  height: 3px;
  width: 50%;
  position: absolute;
  top: 45px;
  left: 25%;
  background-color: #fff;
}

.rounded {
  border-radius: 6px;
}

.img {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.m-auto {
  margin: auto !important;
}

.mt-2 {
  margin-top: 20px;
}

.d-flex {
  display: flex;
  width: 100%;
}

.d-flex.justify-center {
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  &.start {
    align-items: flex-start;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% * calc($i/12);
  }
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    width: 100% * calc($i/12);
  }
}

@for $i from 1 through 12 {
  .col-md-#{$i} {
    width: 100% * calc($i/12);
  }
}

@media (max-width: var.$breakpointSm) {
  .d-flex.column {
    flex-direction: column;
  }

  [class*='col-sm-'] {
    width: 100%;
  }
}

@media (max-width: var.$breakpointMd) {
  [class*='col-md-'] {
    width: 100%;
  }
}