@use "../src/scss/variables" as var;

.works {
  margin: 30px auto;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.work {
  margin: auto;
  width: 90%;
  background-color: white;
  color: #000;
  border-radius: 6px;
  padding: 24px 12px;
  margin-bottom: 20px;

  img {
    width: 100%;
  }

  h3 a {
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  a {
    color: blue;
  }

  p {
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

@media (max-width: var.$breakpointMd) {
  .works {
    justify-content: space-around;
  }

  .works .work {
    margin-right: 0;
    height: 300px;
    overflow-y: auto;
    width: 48%;
  }
}

@media (max-width: var.$breakpointSm) {
  .works {
    flex-direction: column;
    justify-content: flex-start;

    .work {
      width: 100%;
      height: unset;
      margin-right: 0;
    }
  }

}